@using System.Reflection;
@{
    Layout = "~/Views/Shared/_LayoutIndex.cshtml";
    ViewData["Title"] = "QuakeAnalitika";
}

<v-main class="d-flex align-center">
    <v-container>
        <v-row>
            <v-col cols="12" md="4" class="d-flex align-center justify-center">
                <div style="max-width: 30rem;">
                    <h1 style="font-size: 74px;">QuakeAnalitika</h1>
                    <v-btn color="primary" elevation="0"
                           rounded href="/login"
                           x-large>Вход</v-btn>
                    <v-btn elevation="0"
                           rounded href="/register"
                           large>Регистрация</v-btn>
                    <v-btn elevation="0"
                           rounded href="/swagger"
                           small>SWAGGER</v-btn>
                </div>
            </v-col>
        </v-row>
    </v-container>
</v-main>

@section Scripts {

    <script src="~/js/index.js"></script>

}
